{# Managed by the monitoring role. VictoriaMetrics as a Prometheus-type datasource,
   VictoriaLogs via its Grafana plugin (installed through GF_INSTALL_PLUGINS). #}
apiVersion: 1
datasources:
  - name: VictoriaMetrics
    uid: victoriametrics
    type: prometheus
    access: proxy
    url: http://vmsingle:8428
    isDefault: true
    jsonData:
      timeInterval: "{{ monitoring_scrape_interval }}"
  - name: VictoriaLogs
    uid: victorialogs
    type: victoriametrics-logs-datasource
    access: proxy
    url: http://victorialogs:9428
